.menu {
  color: purple;

  ul {
    list-style: none;
    display: flex;

    li {
      padding: 10px;
    }
  }
}

.info {
  border-color: 'gray';
  border-style: 'solid';
  border: '1px';
  color: red;

}
